.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

.DS_Store

*~

_build/
*ENV/
*.pyc
build*/
.vscode/
compile_commands.json

.dials_build

a.out

_build*/
