ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.5
    hooks:
      - id: clang-format
        files: \.c(c|pp|xx|u|uh)?$|\.h(pp)?$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        exclude: ".clang-format"
        args: ["--mapping", "2", "--sequence", "4", "--offset", "2", "--preserve-quotes", "--implicit_start", "--preserve_null"]
