repos:
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.2
  hooks:
  - id: clang-format
    files: \.c(c|pp|xx|u)?$|\.h(pp)?$
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.7.0
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.1
  hooks:
    - id: mypy